.section {
  padding-top: 8rem;
  padding-bottom: 5rem;
  max-width: 1350px;
  
  @media screen and (max-width: 800px) {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
}
.header {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 800px) {
    gap: 1rem;
  }
  
  &__tag {
    color: var(--primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }

  &__ttl {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    color: #2d3135;
    max-width: 600px;

    @media screen and (max-width: 1024px) {
      font-size: 36px;
    }
  }
  &__txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: #575a5d;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 600px) {
    margin-bottom: 1.5rem;
  }

  &--reverse {
    > div {
      grid-row-start: 1;
      padding-left: 1rem;

      @media screen and (max-width: 800px) {
        grid-row-start: auto;
        padding-left: 0;
      }
    }
  }

  img {
    width: 100%;
    object-fit: cover;

    @media screen and (max-width: 1024px) {
      height: 300px;
    }

    @media screen and (max-width: 600px) {
      height: 240px;
    }
  }

  &__sec {
    padding-left: 5rem;

    @media screen and (max-width: 1024px) {
      padding-left: 2rem;
    }

    @media screen and (max-width: 800px) {
      padding: 2rem 0;
    }

    @media screen and (max-width: 600px) {
      padding: 1.5rem 0;
    }
  }

  &__ttl {
    font-family: "Geist";
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: var(--primary);
    margin-bottom: 2rem;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 600px) {
      width: 80%;
    }
  }

  &__txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: #575a5d;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }
}
