.bg {
  background-color: #191919;
  backdrop-filter: blur(24px);
  color: #fff;
  padding-bottom: 14rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
.section {
  max-width: var(--max-width-1);
  position: relative;
}
.cards-container {
  min-height: 100vh; // Or set enough height to match your scroll distance
  position: relative;
}
.content {
  --spacing: 3rem;
  padding: 6rem 8.5%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 9%;
  align-items: center;
  
  > div {
    width: 50%;
  }
  position: absolute;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: calc(var(--spacing) * 1);
    z-index: 1;
  }

  &:nth-child(3) {
    top: calc(var(--spacing) * 2);
    z-index: 2;
  }

  @media screen and (max-width: 1200px) {
    padding: 4rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 2rem;
    gap: 2rem;
  }

  @media screen and (max-width: 800px) {
    position: unset;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1.5rem;
    > div {
      width: 100%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: initial;
      z-index: initial;
    }
  }

  img {
    width: 40%;
    height: auto;
    max-width: 497px;

    @media screen and (max-width: 800px) {
      width: 100%;
      max-width: unset;
    }
  }

  &__ttl {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1.2rem;

    @media screen and (max-width: 1024px) {
      font-size: 40px;
    }

    @media screen and (max-width: 800px) {
      font-size: 24px;
    }
  }
  &__txt {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.55;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }

    @media screen and (max-width: 800px) {
      font-size: 16px;
    }
  }
}

.core_values {
  background-color: #2c2c2c;

  &__items {
    margin-top: 4rem;

    @media screen and (max-width: 1024px) {
      margin-top: 2rem;
    }

    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.55;
      margin-bottom: 4px;

      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }

      @media screen and (max-width: 800px) {
        font-size: 16px;
        margin-top: 1rem;
      }

      span {
        color: #e07686;
        font-weight: 700;
      }
    }
  }
}
.vision {
  background-color: #960118;
}
.mission {
  color: #1d1d1e;
  background-color: #e5efff;

  @media screen and (max-width: 800px) {
    background-color: var(--primary);
    color: #fff;
  }
}
