.bg {
}
.txt {
  max-width: 500px;
}
.hero {
  padding-bottom: 8rem !important;
  padding-top: 11rem;

  h1 {
    font-weight: 600;
  }

  @media screen and (max-width: 900px) {
    height: auto;
  }

  > section {
    align-items: flex-start;
  }

  @media screen and (max-width: 900px) {
    padding-bottom: 14rem;
    padding-top: 8rem;
  }

  .img {
    margin-left: auto;
    width: 100%;
    height: auto;
    max-width: 480px;

    @media screen and (max-width: 900px) {
      margin: auto;
    }
  }
}
