.bg {
  background-color: #fafafa;
  position: relative;
}
.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: 3fr 1.8fr;
  gap: 3rem;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    gap: 1rem;
    grid-template-columns: 3fr 2fr;
  }

  @media screen and (max-width: 800px) {
    gap: 3rem;
    grid-template-columns: 1fr;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.content {
  display: grid;
  gap: 2rem;

  @media screen and (max-width: 1024px) {
    gap: 1rem;
  }

  &__tag {
    color: var(--primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__ttl {
    color: var(--title);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;

    @media screen and (max-width: 1024px) {
      font-size: 32px;
    }
  }

  &__txt {
    color: var(--text);
    font-weight: 500;
    font-size: 24px;
    line-height: 155%;
    letter-spacing: -0.4px;
    max-width: 700px;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }
}
.cards {
  position: relative;
  min-height: 300px;
  right: 0;
}
.card {
  --spacing: 1rem;
  padding: 1.5rem;
  border-radius: 4px;
  position: absolute;
  top: 0;
  z-index: 0;

  &:nth-child(2) {
    top: calc(var(--spacing) * 1.2);
    z-index: 1;
  }

  &:nth-child(3) {
    animation: cardShuffle3 6s ease-in-out infinite;
    top: calc(var(--spacing) * 3);
    z-index: 2;
  }

  @media screen and (max-width: 800px) {
    padding: 1rem;
  }

  &__txt1 {
    color: var(--primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.4px;
    margin-bottom: 1.5rem;
  }

  &__txt2 {
    color: var(--text);
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.4px;
    max-width: 400px;
  }
}
.security {
  background: #f0f0f0;
}
.webinar {
  background: var(--primary);
  p {
    color: #fff;
  }
}

.books {
  background: #fe7117;
  p {
    color: #fff;
  }
}
