.checkboxWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
}
.style1 {
  .label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    display: block;
    margin-bottom: 6px;
  }
  .input {
    outline: none;
    height: 44px;
    padding: 10px 14px 10px 1rem;
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1px 2px 0px #1018280d;
    background-color: var(--white);
    width: 100%;
    color: #ffffff;
    font-family: "Inter";
    font-size: 15px;
    height: 54px;

    &::placeholder {
      color: #575a5d;
      font-size: inherit;
      font-weight: 400;
    }
  }
  .textarea {
    outline: none;
    padding: 10px 14px 10px 1rem;
    width: 100%;
    color: #ffffff;
    font-family: "Inter";
    font-size: 15px;

    &::placeholder {
      color: #575a5d;
      font-size: inherit;
      font-weight: 400;
    }
  }
}
.style2 {
  .label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: var(--dash-text);
    display: block;
    margin-bottom: 6px;
  }
  .input {
    outline: none;
    padding: 10px 14px 10px 1rem;
    width: 100%;
    color: #ffffff;
    font-family: "Inter";
    font-size: 15px;
    height: 54px;
    // background: transparent;
    background: var(--dash-input);
    border: 1.5px solid transparent;
    color: var(--text);
    font-size: 16px;
    border-radius: 16px;
    border: none;

    &::placeholder {
      color: var(--dash-text-muted);
      font-size: inherit;
      font-weight: 400;
    }
    &[type="date"] {
      -webkit-appearance: none;
      appearance: none;
      min-height: 54px;
      color: var(--text);
    }
  }
  
  .textarea {
    outline: none;
    padding: 10px 14px 10px 1rem;
    width: 100%;
    color: #ffffff;
    font-family: "Inter";
    font-size: 15px;

    &::placeholder {
      color: #575a5d;
      font-size: inherit;
      font-weight: 400;
    }
  }
}
.error {
  font-size: 12px;
  color: var(--primary);
  display: block;
  margin-top: 8px;
}
.textarea {
  min-height: 200px;
}
