.bg {
  background-color: #fafafa;
}
.section {
  padding-top: 7rem;
  padding-bottom: 8rem;

  @media screen and (max-width: 800px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.sec1 {
  margin-bottom: 5rem;

  @media screen and (max-width: 800px) {
    margin-bottom: 4rem;
  }
}
.tag {
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;

  @media screen and (max-width: 1024px) {
    margin-bottom: 1rem;
    font-size: 16px;
  }
}
.ttl {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #2d3135;
  max-width: 600px;

  span {
    color: var(--primary);
  }

  @media screen and (max-width: 1024px) {
    font-size: 32px;
    margin-bottom: 1rem;
  }
}
.txt {
  font-size: 24px;
  line-height: 1.4;
  max-width: 750px;
  font-weight: 500;
  color: var(--text);

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;

  @media screen and (max-width: 1024px) {
    gap: 2rem;
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  > img {
    width: 100%;
    height: auto;
    max-width: 500px;

    @media screen and (max-width: 900px) {
      margin: auto;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 2rem;

  @media screen and (max-width: 900px) {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.card {
  display: grid;
  gap: 1rem;

  img {
    @media screen and (max-width: 1024px) {
      width: 40px;
      height: 40px;
    }
  }

  &__ttl {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
    color: var(--title);

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }

  &__txt {
    font-size: 18px;
    line-height: 1.4;
    color: var(--text);

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }
}

.table {
  width: 100%;
  max-width: 430px;
  margin: auto;

  @media screen and (max-width: 900px) {
    max-width: unset;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e6d5d5;
    padding: 1.5rem 1rem;

    @media screen and (max-width: 1024px) {
      padding: 1.2rem 1rem;
    }

    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: var(--title);

      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }

      &:last-of-type {
        text-align: center;
      }
    }
  }

  &__body {
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #575a5d;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem 1rem;
    border-top: 1px solid #abadae40;

    @media screen and (max-width: 1024px) {
      padding: 1rem;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: var(--text);

      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }

      &:last-of-type {
        color: #49bd7a;
        text-align: center;
      }
    }
  }
}
