@import url("../../src/assets/fonts/font.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #cb1a36;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #ffffff;
    --primary: #CB1A36;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "GeneralSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Start Scroll bar */

/* width and height */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* End Scroll bar */

input::placeholder {
  color: rgba(193, 199, 208, 1);
}

input[type="text"],
input[type="password"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #eaeaea inset !important;
  /* box-shadow: 0 0 0 30px #f3f3f3 inset !important; */
  -webkit-text-fill-color: #000 !important;
  background: transparent !important;
}

.container {
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


button, [role="button"] {
  cursor: pointer;
  font-family: "GeneralSans";
}

hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}