.bg {
  height: 100dvh;
  background-image: url("../../../public/red-grid.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
}
.section {
  display: flex;
  height: 100%;
}
.tag {
  color: #ffffffb2;
  font-size: 24px;
  font-weight: 500;
}
.ttl {
  font-size: 56px;
  font-weight: 600;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;

  @media screen and (max-width: 900px) {
    font-size: 40px;
    color: #fff;
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
  }
}
.txt {
  color: #fafafa;
  font-size: 20px;
  margin-bottom: 3rem;
  max-width: 450px;

  @media screen and (max-width: 900px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 900px) {
    font-size: 16px;
  }
}
.txtContent {
  max-width: 700px;
  padding: 5rem 3.5rem;
  margin: auto 0;

  @media screen and (max-width: 1024px) {
    padding: 5rem 0;
  }

  @media screen and (max-width: 900px) {
    text-align: center;
  }
}
